{{> head}}
{{> top}}
{{#checkIf @config.custom.frontSource '==' "post" }}
   {{> frontpage-post}}
{{else}}
   <main>
      <div class="hero">
         {{#if @config.custom.uploadHero}}
            {{#if @config.custom.uploadHeroCaption}}
               {{#if @config.custom.lazyLoad}}
                  <figure class="hero__image">
                     <img
                        class="hero__image-img lazyload"
                        {{#checkIf @config.custom.lazyLoadEffect '!==' "fadein" }}
                           src="{{@config.custom.uploadHero}}"
                        {{else}}
                           data-src="{{@config.custom.uploadHero}}"
                        {{/checkIf}}
                        {{responsiveImageAttributes @config.custom.uploadHero}}                      
                        data-sizes="auto"
                        alt="{{@config.custom.uploadHeroAlt}}">
                     <figcaption>
                        {{@config.custom.uploadHeroCaption}}
                     </figcaption>
                  </figure>
               {{else}}
                  <figure class="hero__image">
                     <img
                        src="{{@config.custom.uploadHero}}"
                        {{responsiveImageAttributes @config.custom.uploadHero}}
                        alt="{{@config.custom.uploadHeroAlt}}">
                     <figcaption>
                        {{@config.custom.uploadHeroCaption}}
                     </figcaption>
                  </figure>
               {{/if}}
            {{else}}
               {{#if @config.custom.lazyLoad}}
                  <div class="hero__image">
                     <img
                        class="hero__image-img lazyload"
                        {{#checkIf @config.custom.lazyLoadEffect '!==' "fadein" }}
                           src="{{@config.custom.uploadHero}}"
                        {{else}}
                           data-src="{{@config.custom.uploadHero}}"
                        {{/checkIf}}
                        {{responsiveImageAttributes @config.custom.uploadHero}}                       
                        data-sizes="auto"
                        alt="{{@config.custom.uploadHeroAlt}}">
                  </div>
               {{else}}
                  <div class="hero__image">
                     <img
                        src="{{@config.custom.uploadHero}}"
                        {{responsiveImageAttributes @config.custom.uploadHero}}
                        alt="{{@config.custom.uploadHeroAlt}}">
                  </div>
               {{/if}}
            {{/if}}
         {{/if}}
         {{#if @config.custom.textHero}}
            <header class="hero__content">
               <div class="">
                  {{{@config.custom.textHero}}}
                  {{#if @config.custom.siteOwner}}
                     {{#siteOwner}}
                        <div class="post__meta post__meta--author">
                           {{#if avatar}}
                              {{#if @config.custom.lazyLoad}}
                                 <img class="lazyload post__author-thumb" data-src="{{avatar}}" alt="{{name}}">
                              {{else}}
                                 <img src="{{avatar}}" alt="{{name}}" class="post__author-thumb">
                              {{/if}}
                           {{/if}}
                           <a href="{{url}}" class="feed__author invert">{{name}}</a>
                        </div>
                     {{/siteOwner}}
                  {{/if}}
               </div>
            </header>
         {{/if}}
      </div>
     
         <div class="featured_posts">
            {{#each featuredPosts as |post key|}}
               {{#if @config.custom.frontFeaturedImage}}
                  {{#featuredImage}}
                     {{#if url}}
                        {{#if @config.custom.lazyLoad}}
                           <div class="featured_image">
                              <a href="{{post.url}}">
                              <img
                                 class="lazyload"
                                 {{#checkIf @config.custom.lazyLoadEffect '!==' "fadein" }}
                                    src="{{urlXs}}"
                                 {{else}}
                                    data-src="{{url}}"
                                 {{/checkIf}}
                                 data-srcset="{{srcset.post}}"
                                 data-aspectratio="{{ math width '/' height }}"
                                 data-sizes="auto"
                                 height="{{height}}"
                                 width="{{width}}"
                                 alt="{{alt}}"></a>
                           </div>
                        {{else}}
                           <div class="featured_image">
                              <a href="{{post.url}}">
                              <img
                                 src="{{url}}"
                                 sizes="{{sizes.post}}"
                                 srcset="{{srcset.post}}"
                                 alt="{{alt}}"></a>
                           </div>
                        {{/if}}
                     {{/if}}
                  {{/featuredImage}}
               {{/if}}
               <a href={{url}} class="featured_text">
                  <h2>{{title}}</h2>
                  <div class="featured__item__excerpt">
                     {{#if hasCustomExcerpt}}
                        {{{ excerpt }}}
                     {{else}}
                        <p>{{{ excerpt }}}</p>
                     {{/if}}
                  </div>
               </a>
            {{/each}}
         </div>

         <h3 class="posts_header">Recent Posts</h3>
         <div class="posts">
            {{#each posts as |post key|}}
               {{#unless isFeatured}}
                  {{> post_teaser}}
               {{/unless}}
            {{/each}}
         </div>
   </main>
{{/checkIf}}
{{> footer}}
