<!DOCTYPE html>
<html lang="{{ @website.language }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{#if title}}
            <title>{{title}}</title>
        {{else}}
            <title>{{@website.name}}</title>
        {{/if}}
        {{metaDescription}}
        {{metaRobots}} 
        {{{publiiHead}}}
        {{canonicalLink}}
        {{ampLink}}
        {{feedLink}}
        {{socialMetaTags}}
		{{#if @config.custom.faviconUpload}}
	        <link rel="shortcut icon" href="{{@config.custom.faviconUpload}}" type="{{@config.custom.faviconExtension}}" />
        {{/if}}
        <link rel="apple-touch-icon" href="/media/files/apple-touch-icon.png">
        <link rel="apple-touch-icon" href="/media/files/apple-touch-icon-57x57.png" sizes="57x57">
        <link rel="apple-touch-icon" href="/media/files/apple-touch-icon-60x60.png" sizes="60x60">
        <link rel="apple-touch-icon" href="/media/files/apple-touch-icon-72x72.png" sizes="72x72">
        <link rel="apple-touch-icon" href="/media/files/apple-touch-icon-76x76.png" sizes="76x76">
        <link rel="apple-touch-icon" href="/media/files/apple-touch-icon-114x114.png" sizes="114x114">
        <link rel="apple-touch-icon" href="/media/files/apple-touch-icon-120x120.png" sizes="120x120">
        <link rel="apple-touch-icon" href="/media/files/apple-touch-icon-128x128.png" sizes="128x128">
        <link rel="apple-touch-icon" href="/media/files/apple-touch-icon-144x144.png" sizes="144x144">
        <link rel="apple-touch-icon" href="/media/files/apple-touch-icon-152x152.png" sizes="152x152">
        <link rel="apple-touch-icon" href="/media/files/apple-touch-icon-180x180.png" sizes="180x180">
        <link rel="apple-touch-icon" href="/media/files/apple-touch-icon-precomposed.png">
        <link rel="icon" type="image/png" href="/media/files/favicon-16x16.png" sizes="16x16">
        <link rel="icon" type="image/png" href="/media/files/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="/media/files/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="/media/files/favicon-160x160.png" sizes="160x160">
        <link rel="icon" type="image/png" href="/media/files/favicon-192x192.png" sizes="192x192">
        <link rel="icon" type="image/png" href="/media/files/favicon-196x196.png" sizes="196x196">
        <meta name="msapplication-TileImage" content="/media/files/win8-tile-144x144.png"> 
        <meta name="msapplication-TileColor" content="#ffffff"> 
        <meta name="msapplication-navbutton-color" content="#ffffff"> 
        <meta name="application-name" content="twoandahalfvan"/> 
        <meta name="msapplication-tooltip" content="twoandahalfvan"/> 
        <meta name="apple-mobile-web-app-title" content="twoandahalfvan"/> 
        <meta name="msapplication-square70x70logo" content="/media/files/win8-tile-70x70.png"> 
        <meta name="msapplication-square144x144logo" content="/media/files/win8-tile-144x144.png"> 
        <meta name="msapplication-square150x150logo" content="/media/files/win8-tile-150x150.png"> 
        <meta name="msapplication-wide310x150logo" content="/media/files/win8-tile-310x150.png"> 
        <meta name="msapplication-square310x310logo" content="/media/files/win8-tile-310x310.png">
        {{#if @pagination}}
            {{#if @pagination.previousPage}}
                <link rel="prev" href="{{@pagination.previousPageUrl }}">
            {{/if}}
            {{#if @pagination.nextPage}}
                <link rel="next" href="{{@pagination.nextPageUrl }}">
            {{/if}}
        {{/if}}
        {{> fonts}}  
        <link rel="stylesheet" href="{{css "style.css" }}">
		{{#is "post"}}
           {{#post}}
              {{#if hasGallery}}
                 <link rel="stylesheet" href="{{css "photoswipe.css" }}">
              {{/if}}
           {{/post}}
        {{/is}}	
        {{#checkIf @config.custom.frontSource '==' "post" }}
           {{#checkIf @config.custom.frontGallery '==' true}}
              {{#is "index"}}
                 <link rel="stylesheet" href="{{css "photoswipe.css" }}">
              {{/is}}
           {{/checkIf}}
        {{/checkIf}}
        {{jsonLD}}
        {{#if @config.custom.lazyLoad}}            
            <script src="{{js "ls.parent-fit.min.js"}}"></script>
            <script async src="{{js "lazysizes.min.js"}}"></script>          
        {{/if}}
		{{#is "post"}}
           {{#post}}
              {{#if hasGallery}}
		            <style>				
		               {{#checkIf @config.custom.galleryLightboxStyle '==' "pswp--dark" }}
				          .pswp--svg .pswp__button,
				          .pswp--svg .pswp__button--arrow--left:before,
				          .pswp--svg .pswp__button--arrow--right:before {
					          background-image: url({{@website.assetsUrl}}/svg/gallery-icons-light.svg);
			              }
		              {{else}}
			              .pswp--svg .pswp__button,
				          .pswp--svg .pswp__button--arrow--left:before,
				          .pswp--svg .pswp__button--arrow--right:before {
					          background-image: url({{@website.assetsUrl}}/svg/gallery-icons-dark.svg);
			              }		
		              {{/checkIf}}
		            </style>		        
              {{/if}}
           {{/post}}
        {{/is}}
        
        {{#checkIf @config.custom.frontSource '==' "post"}}
          {{#checkIf @config.custom.frontGallery '==' true}}
            {{#is "index"}}
               <style>	
		            {{#checkIf @config.custom.galleryLightboxStyle '==' "pswp--dark" }}
		                 .pswp--svg .pswp__button,
		                 .pswp--svg .pswp__button--arrow--left:before,
		                 .pswp--svg .pswp__button--arrow--right:before {
			                background-image: url({{@website.assetsUrl}}/svg/gallery-icons-light.svg);
		                 }
		            {{else}}
		                 .pswp--svg .pswp__button,
		                 .pswp--svg .pswp__button--arrow--left:before,
		                 .pswp--svg .pswp__button--arrow--right:before {
			                background-image: url({{@website.assetsUrl}}/svg/gallery-icons-dark.svg);
		                 }		
		            {{/checkIf}}
               </style>	
            {{/is}}	
          {{/checkIf}}
        {{/checkIf}} 		
        {{{@headCustomCode}}}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-161992053-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-161992053-1');
        </script>
    </head>
    <body>
        {{{@bodyCustomCode}}}